<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    crossorigin=""></script>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aidan Plummer">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>

<body onload="addYear()">
<div class="container">

    <header class = "header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav class = "nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a class="cta" href="buytickets.html">Buy Tickets</a>
            <a href = "javascript:void(0)" class = "icon" onclick = "toggleMenu()">☰</a>
        </nav>
    </header>

<main class = "main">
    <img src="../static/MonoMuseMuseum.png" alt="MonoMuse Museum" style="width:50%; height:auto;">
    
    <h2>Mission Statement</h2>
    
    <p>At MonoMuse, our mission is to foster a deeper understanding and appreciation of the dynamic relationship between art and technology. We are committed to showcasing innovative works that challenge traditional boundaries and inspire creativity in all its forms. Through our exhibitions, educational programs, and community engagement initiatives, we aim to create a space where visitors can explore the transformative power of digital art and its impact on culture, society, and the human experience.</p>
    
    <h2>Who We Serve</h2>
    
    <p>MonoMuse serves a diverse audience of art enthusiasts, technology innovators, students, educators, and the general public. We welcome visitors of all ages and backgrounds who are interested in exploring the intersection of art and technology. Our exhibitions and programs are designed to engage both seasoned art lovers and those new to the world of digital creativity, fostering a sense of curiosity and discovery for everyone who walks through our doors.</p>
    
    <h2>Milestones</h2>
    
    <ul>
        <li>2016: Monomuse opens its doors with its first exhibition on digital storytelling.</li>
        <li>2018: Launch of the Interative Media Lab, allowing visitors to experiment with creative coding.</li>
        <li>2023: Expansion of the museum to space to include a new wing dedicated to virtual reality art.</li>
    </ul>

    <h2>Getting Here</h2>
        <p>123 Street Avenue, Pittsburgh, PA 15212</p>
        <p>Parking available on-site. Accessible via bus routes 61A, 61B, 61C, 61D, or 54.</p>
    <div id="map"></div>

    <h2> View Our Most Recent Exhibit</h2>
    <iframe src="https://www.youtube.com/embed/XYY43BsL_-U?si=VZTJijtByqc1-WR2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</main>
    
    <footer class = "footer">
        <p id="copyYear"></p>
    </footer>

</div>
</body>
</html>