<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aidan Plummer">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse - Exhibitions</title>
<head>

<body>

    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a class="cta" href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    
    <h3>Exibition 1: Virtual Reality: Expanding Art Into Three Dimensions</h3>
    <p>Experience the future of art with our groundbreaking exhibition on virtual reality. This immersive showcase features a curated selection of VR artworks that push the boundaries of creativity and technology. From interactive installations to fully immersive environments, visitors can explore new dimensions of artistic expression and engage with art in ways never before possible.</p>
    
    <h3>Exibition 2: The Art of Code: Creative Coding in the Digital Age</h3>
    <p>Discover the intersection of art and technology with our exhibition on creative coding. This showcase features a diverse range of artworks created using programming languages and algorithms, highlighting the innovative ways artists are using code to create dynamic, interactive, and visually stunning pieces. From generative art to interactive installations, this exhibition celebrates the creativity and ingenuity of artists working at the forefront of digital innovation.</p>
    
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
    
    </body>

</html>