<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aidan Plummer">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>

<body onload="addYear()">

<div class = "container">

    <header class = "header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    </header>

    <nav class = "nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a class="cta" href="buytickets.html">Buy Tickets</a>
    </nav>

<main class = "main">
    <table>
        <tr>
            <th>Ticket Type</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Adult</td>
            <td>General admission for ages over 18. Under 18 free of charge</td>
            <td>$18.00</td>
        </tr>
        <tr>
            <td>Member</td>
            <td>Member ID required</td>
            <td>$15.00</td>
        </tr>
        <tr>
            <td>Student</td>
            <td>Student ID required</td>
            <td>$10.00</td>
        </tr>
    </table>

    <h3> Monthy Calendar (Select a Date to Buy a Ticket) </h3>

    <table>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td onclick="showTicketPurchaseForm()">1</td>
            <td onclick="showTicketPurchaseForm()">2</td>
            <td onclick="showTicketPurchaseForm()">3</td>
            <td onclick="showTicketPurchaseForm()">4</td>
        </tr>
        <tr>
            <td onclick="showTicketPurchaseForm()">5</td>
            <td onclick="showTicketPurchaseForm()">6</td>
            <td onclick="showTicketPurchaseForm()">7</td>
            <td onclick="showTicketPurchaseForm()">8</td>
            <td onclick="showTicketPurchaseForm()">9</td>
            <td onclick="showTicketPurchaseForm()">10</td>
            <td onclick="showTicketPurchaseForm()">11</td>
        </tr>
        <tr>
            <td onclick="showTicketPurchaseForm()">12</td>
            <td onclick="showTicketPurchaseForm()">13</td>
            <td onclick="showTicketPurchaseForm()">14</td>
            <td onclick="showTicketPurchaseForm()">15</td>
            <td onclick="showTicketPurchaseForm()">16</td>
            <td onclick="showTicketPurchaseForm()">17</td>
            <td onclick="showTicketPurchaseForm()">18</td>
        </tr>
        <tr>
            <td onclick="showTicketPurchaseForm()">19</td>
            <td onclick="showTicketPurchaseForm()">20</td>
            <td onclick="showTicketPurchaseForm()">21</td>
            <td onclick="showTicketPurchaseForm()">22</td>
            <td onclick="showTicketPurchaseForm()">23</td>
            <td onclick="showTicketPurchaseForm()">24</td>
            <td onclick="showTicketPurchaseForm()">25</td>
        </tr>
        <tr>
            <td onclick="showTicketPurchaseForm()">26</td>
            <td onclick="showTicketPurchaseForm()">27</td>
            <td onclick="showTicketPurchaseForm()">28</td>
            <td onclick="showTicketPurchaseForm()">29</td>
            <td onclick="showTicketPurchaseForm()">30</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="ticketPurchaseForm">
        <form>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name"><br><br>

            <label for="email">Email (required):</label><br>
            <input type="email" id="email" name="email"><br><br>
        
            <label for="ticket_quantity">Ticket Quantity (required):</label><br>
            <input type="text" id="ticket_quantity" name="ticket_quantity"><br><br>

            <label for="selected_date">Selected Date:</label><br>
            <input type="text" id="selected_date" name="selected_date"><br><br>
            
            <input type="submit" value="Submit" onclick="formSubmitted()">
        </form>

    </div>
</main>
    
<footer class = "footer">
    <p id="copyYear"></p>
</footer>

</div>
</body>
</html>